.paper {
  margin-top: 20px;
  border-radius: 16px !important;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  overflow: overlay;
}

.paper:first-child {
  margin-top: 10px;
}

.paper[data-theme='dark'] {
  background-color: #1A1A1A4D;
}

.paper[data-theme='light'] {
  background-color: #FFFFFF33;
}

.description {
  width: -webkit-fill-available;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.rightContent {
  display: flex;
  align-items: center;
  margin-left: 10px;
  justify-content: flex-end;
  min-width: fit-content;
}

.datetime[data-theme='dark'] {
  opacity: 0.5;
}

.iconButton {
  height: 34px;
  width: 34px;
  margin-left: 10px !important;
  border-radius: 50%;
  border: 2px solid #FFFFFF66;
}

.iconButton[data-theme='dark'] {
  background-color: transparent;
  border: 2px solid #FFFFFF66;
}

.iconButton[data-theme='light'] {
  background-color: #FFFFFF
}

/* mobile css */
@media screen and (max-width: 425px) {
  .datetime {
    font-size: 12px !important;
  }
}
