.textfieldContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 20px;
  border-radius: 20px;
}

.textfield {
  max-width: 700px;
}

.iconButton {
  height: 60px;
  width: 60px;
  border-radius: 20px !important;
  margin-left: 20px !important;
}

.iconButton[data-theme='dark'] {
  background-color: #28124D;
}

.iconButton[data-theme='light'] {
  background-color: #6C40B5
}