.paper {
  border-radius: 40px !important;
  padding: 40px;
  max-width: 700px;
  margin: auto;
  position: relative;
  margin-top: 40px;
}

.paperMargin {
  margin-top: 120px;
}

.container {
  border-radius: 20px !important;
  padding: 20px;
  margin: auto;
}

.listContainer {
  margin-top: 10px;
  max-height: 70vh;
  overflow: overlay;
}

.paper[data-theme='dark'], .container[data-theme='dark'] {
  background-color: #1A1A1A4D;
}

.paper[data-theme='light'], .container[data-theme='light'] {
  background-color: #FFFFFF33;
}

.paper[data-theme='light'] {
  border: 1px solid #FFFFFF80;
}

.weatherImage {
  width: 300px;
  height: 300px;
  position: absolute;
  right: 0;
  top: -95px;
}

.temperature{
  font-size: 80px !important;
  font-weight: 700 !important;
}

.temperature[data-theme='light'] {
  color: #6C40B5;
}

.description {
  display: flex;
  margin-bottom: 20px;
}

.description[data-theme='light'] {
  color: #666666;
}

.country {
  font-weight: 700 !important;
  width: 25%;
}

.subDescription {
  display: flex;
  justify-content: space-between;
  width: -webkit-fill-available;
}

.noResult[data-theme='light'] {
  color: #00000066;
}

.noResult[data-theme='dark'] {
  color: #FFFFFF66;
}

/* mobile css */
@media screen and (max-width: 425px) {
  .paperMargin {
    margin-top: 60px;
  }

  .weatherImage {
    width: 150px;
    height: 150px;
    position: absolute;
    right: 0;
    top: -48px;
  }

  .temperature{
    font-size: 70px !important;
    font-weight: 700 !important;
  }

  .country {
    width: 50%;
  }

  .subDescription {
    display: flex;
    align-items: flex-end;
    flex-direction: column-reverse;
    margin-top: -55px;
    width: 50%;
    text-align: right;
  }
}